 <!-- Container-fluid starts-->
 <div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Orders
                        <small>Multikart Admin panel</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Sales</li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Manage Order</h5>
                </div>
                <div class="card-body order-datatable">
                    <div id="basic-1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="d-flex justify-content-between align-center">
                            <div class="dataTables_length" id="basic-1_length">
                               <label>
                                  Show 
                                  <select name="basic-1_length" aria-controls="basic-1" class="">
                                     <option value="10">10</option>
                                     <option value="25">25</option>
                                     <option value="50">50</option>
                                     <option value="100">100</option>
                                  </select>
                                  entries
                               </label>
                            </div>
                            <div id="basic-1_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="basic-1"></label></div>
                        </div>
                        <table class="display dataTable no-footer" id="basic-1" role="grid" aria-describedby="basic-1_info">
                           <thead>
                              <tr role="row">
                                 <th class="sorting_asc" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order Id: activate to sort column descending" style="width: 121px;">Order Id</th>
                                 <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-label="Product: activate to sort column ascending" style="width: 150px;">Product</th>
                                 <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-label="Payment Status: activate to sort column ascending" style="width: 145px;">Payment Status</th>
                                 <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-label="Payment Method: activate to sort column ascending" style="width: 121px;">Payment Method</th>
                                 <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-label="Order Status: activate to sort column ascending" style="width: 121px;">Order Status</th>
                                 <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 121px;">Date</th>
                                 <th class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-label="Total: activate to sort column ascending" style="width: 121px;">Total</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr role="row" class="odd">
                                 <td class="sorting_1">#51240</td>
                                 <td>
                                    <div class="d-flex">
                                       <img src="../assets/images/electronics/product/25.jpg" alt="" class="img-fluid img-30 me-2 blur-up lazyloaded">
                                       <img src="../assets/images/electronics/product/13.jpg" alt="" class="img-fluid img-30 me-2 blur-up lazyloaded">
                                       <img src="../assets/images/electronics/product/16.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded">
                                    </div>
                                 </td>
                                 <td><span class="badge badge-secondary">Cash On Delivery</span></td>
                                 <td>Paypal</td>
                                 <td><span class="badge badge-success">Delivered</span></td>
                                 <td>Dec 10,18</td>
                                 <td>$54671</td>
                              </tr>
                              <tr role="row" class="even">
                                 <td class="sorting_1">#51241</td>
                                 <td>
                                    <div class="d-flex">
                                       <img src="../assets/images/electronics/product/12.jpg" alt="" class="img-fluid img-30 me-2 blur-up lazyloaded">
                                       <img src="../assets/images/electronics/product/3.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded">
                                    </div>
                                 </td>
                                 <td><span class="badge badge-success">Paid</span></td>
                                 <td>Master Card</td>
                                 <td><span class="badge badge-primary">Shipped</span></td>
                                 <td>Feb 15,18</td>
                                 <td>$2136</td>
                              </tr>
                              <tr role="row" class="odd">
                                 <td class="sorting_1">#51242</td>
                                 <td><img src="../assets/images/electronics/product/14.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded"></td>
                                 <td><span class="badge badge-warning">Awaiting Authentication</span></td>
                                 <td>Debit Card</td>
                                 <td><span class="badge badge-warning">Processing</span></td>
                                 <td>Mar 27,18</td>
                                 <td>$8791</td>
                              </tr>
                              <tr role="row" class="even">
                                 <td class="sorting_1">#51243</td>
                                 <td>
                                    <div class="d-flex">
                                       <img src="../assets/images/electronics/product/6.jpg" alt="" class="img-fluid img-30 me-2 blur-up lazyloaded">
                                       <img src="../assets/images/furniture/8.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded">
                                    </div>
                                 </td>
                                 <td><span class="badge badge-danger">Payment Failed</span></td>
                                 <td>Master Card</td>
                                 <td><span class="badge badge-danger">Cancelled</span></td>
                                 <td>Sep 1,18</td>
                                 <td>$139</td>
                              </tr>
                              <tr role="row" class="odd">
                                 <td class="sorting_1">#51244</td>
                                 <td>
                                    <div class="d-flex">
                                       <img src="../assets/images/jewellery/pro/18.jpg" alt="" class="img-fluid img-30 me-2 blur-up lazyloaded">
                                       <img src="../assets/images/fashion/pro/06.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded">
                                    </div>
                                 </td>
                                 <td><span class="badge badge-success">Paid</span></td>
                                 <td>Paypal</td>
                                 <td><span class="badge badge-primary">Shipped</span></td>
                                 <td>May 18,18</td>
                                 <td>$4678</td>
                              </tr>
                              <tr role="row" class="even">
                                 <td class="sorting_1">#51245</td>
                                 <td>
                                    <div class="d-flex">
                                       <img src="../assets/images/electronics/product/19.jpg" alt="" class="img-fluid img-30 me-2 blur-up lazyloaded">
                                       <img src="../assets/images/electronics/product/20.jpg" alt="" class="img-fluid img-30 me-2 blur-up lazyloaded">
                                       <img src="../assets/images/electronics/product/23.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded">
                                    </div>
                                 </td>
                                 <td><span class="badge badge-success">Paid</span></td>
                                 <td>Visa</td>
                                 <td><span class="badge badge-success">Delivered</span></td>
                                 <td>Jan 14,18</td>
                                 <td>$6791</td>
                              </tr>
                              <tr role="row" class="odd">
                                 <td class="sorting_1">#51246</td>
                                 <td><img src="../assets/images/electronics/product/24.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded"></td>
                                 <td><span class="badge badge-warning">Awaiting Authentication</span></td>
                                 <td>Credit Card</td>
                                 <td><span class="badge badge-warning">Processing</span></td>
                                 <td>Apr 22,18</td>
                                 <td>$976</td>
                              </tr>
                              <tr role="row" class="even">
                                 <td class="sorting_1">#51247</td>
                                 <td>
                                    <div class="d-flex">
                                       <img src="../assets/images/electronics/product/21.jpg" alt="" class="img-fluid img-30 me-2 blur-up lazyloaded">
                                       <img src="../assets/images/electronics/product/8.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded">
                                    </div>
                                 </td>
                                 <td><span class="badge badge-danger">Payment Failed</span></td>
                                 <td>Master Card</td>
                                 <td><span class="badge badge-danger">Cancelled</span></td>
                                 <td>Mar 26,18</td>
                                 <td>$3212</td>
                              </tr>
                              <tr role="row" class="odd">
                                 <td class="sorting_1">#51248</td>
                                 <td><img src="../assets/images/electronics/product/18.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded"></td>
                                 <td><span class="badge badge-secondary">Cash On Delivery</span></td>
                                 <td>Paypal</td>
                                 <td><span class="badge badge-primary">Shipped</span></td>
                                 <td>Feb 29,18</td>
                                 <td>$6719</td>
                              </tr>
                              <tr role="row" class="even">
                                 <td class="sorting_1">#51249</td>
                                 <td><img src="../assets/images/electronics/product/17.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded"></td>
                                 <td><span class="badge badge-success">Paid</span></td>
                                 <td>Master Card</td>
                                 <td><span class="badge badge-secondary">Processing</span></td>
                                 <td>Sep 2,18</td>
                                 <td>$9765</td>
                              </tr>
                           </tbody>
                        </table>
                        <div class="dataTables_info" id="basic-1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->